.filter{
    .btn{
        background-color: black;
        color: white;
        width: 100px;
    }
    .drpdwn{
        width: 100px;
        padding: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}