.main{
    padding: 0.5rem;
    display: flex;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;

    .panel{
        padding: 1rem;
        width: 25%;
        background-color: rgb(36, 35, 35);
        font-family: 'Ubuntu', sans-serif;  
        color: white;
        display: flex;
        flex-direction: column;
        
    }
    .info{
        padding: 1rem;
        //flex: 1;
        background-color: rgb(247, 205, 128);
        font-family: 'Ubuntu', sans-serif;
        width: 100%;
    }
}