.form{

    .input{
        padding: 10px;
        width: 300px;
        max-width: 90%;
        font-size: 1rem;
        letter-spacing: 1px;
        margin: 0.5rem;
    
    }
    .btn{
        margin-top: 1rem;
        padding: 10px 40px;
        background: #000;
        color: #fff;
        text-transform: uppercase;
        border: none;
        margin-left: 10rem;
    }
}