.nav {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-bottom: thin solid rgb(238, 159, 13);
    // border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(255, 166, 1);
      color: white;
      font-weight: bold;
    }

    &:active {
      background-color: rgb(238, 101, 52);
      color: white;
      font-weight: bold;
    }
  }

