.page{
    .filters{
        padding: 1rem;
        border: thin solid brown;
        border-radius: 4px;
        height: 20px;
        background-color: rgb(241, 141, 9);
    }

    .table{
        padding: 2rem;
        margin: 1px;
    }

    .btn{
        background-color: black;
        color: white;
    }
}